## Preprocessing

In [1]:
# sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# tensorflow
import tensorflow as tf

# tuner
import keras_tuner as kt

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Data/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.

df = application_df.drop(columns=['EIN', 'NAME'], axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
print(df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
print(df['APPLICATION_TYPE'].value_counts())

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
print(df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# CLASSIFICATION value counts

classification_counts = df['CLASSIFICATION'].value_counts()

classification_counts.loc[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# cutoff for classifications: value counts < 1883
# create variable classifications_to_repalce

classifications_to_replace = classification_counts.loc[classification_counts < 1883].index.tolist()

print(classifications_to_replace)

['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']

In [9]:
# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# check data types for columns
# if dtype is object it is categorical data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   APPLICATION_TYPE        34299 non-null  object
 1   AFFILIATION             34299 non-null  object
 2   CLASSIFICATION          34299 non-null  object
 3   USE_CASE                34299 non-null  object
 4   ORGANIZATION            34299 non-null  object
 5   STATUS                  34299 non-null  int64
 6   INCOME_AMT              34299 non-null  object
 7   SPECIAL_CONSIDERATIONS  34299 non-null  object
 8   ASK_AMT                 34299 non-null  int64
 9   IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(3), object(7)
memory usage: 2.6+ MB

In [11]:
# create list of categorical features
categorical_cols = [col for col in df.columns if df.dtypes[col] == 'object']
print(categorical_cols)

['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [12]:
# Convert categorical features to numeric with pd.get_dummies
df_with_dummies = pd.get_dummies(df, columns=categorical_cols)
df_with_dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
features = df_with_dummies.drop(columns='IS_SUCCESSFUL', axis=1)
target = df_with_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42, stratify=target)

In [14]:
# Creating Scaler
# scaler
scaler = StandardScaler()

# fit 
X_scaler = scaler.fit(X_train)

# transform
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=9, activation="relu", input_dim=43))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=9, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 396

 dense_1 (Dense)             (None, 9)                 90

 dense_2 (Dense)             (None, 1)                 10

=================================================================
Total params: 496
Trainable params: 496
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Train the model
nn_fit = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 850us/step - loss: 0.6133 - accuracy: 0.6753
Epoch 2/100
804/804 [==============================] - 1s 889us/step - loss: 0.5653 - accuracy: 0.7220
Epoch 3/100
804/804 [==============================] - 1s 881us/step - loss: 0.5590 - accuracy: 0.7264
Epoch 4/100
804/804 [==============================] - 1s 841us/step - loss: 0.5553 - accuracy: 0.7288
Epoch 5/100
804/804 [==============================] - 1s 849us/step - loss: 0.5537 - accuracy: 0.7289
Epoch 6/100
804/804 [==============================] - 1s 815us/step - loss: 0.5524 - accuracy: 0.7297
Epoch 7/100
804/804 [==============================] - 1s 838us/step - loss: 0.5511 - accuracy: 0.7310
Epoch 8/100
804/804 [==============================] - 1s 849us/step - loss: 0.5501 - accuracy: 0.7308
Epoch 9/100
804/804 [==============================] - 1s 832us/step - loss: 0.5495 - accuracy: 0.7321
Epoch 10/100
804/804 [==============================] - 1s 872us/step - loss: 0.5490 - accuracy: 0.7322
Epoch 11/100
804/804 [==============================] - 1s 910us/step - loss: 0.5487 - accuracy: 0.7325
Epoch 12/100
804/804 [==============================] - 1s 907us/step - loss: 0.5482 - accuracy: 0.7323
Epoch 13/100
804/804 [==============================] - 1s 913us/step - loss: 0.5480 - accuracy: 0.7329
Epoch 14/100
804/804 [==============================] - 1s 903us/step - loss: 0.5475 - accuracy: 0.7321
Epoch 15/100
804/804 [==============================] - 1s 882us/step - loss: 0.5472 - accuracy: 0.7322
Epoch 16/100
804/804 [==============================] - 1s 921us/step - loss: 0.5472 - accuracy: 0.7331
Epoch 17/100
804/804 [==============================] - 1s 899us/step - loss: 0.5468 - accuracy: 0.7336
Epoch 18/100
804/804 [==============================] - 1s 906us/step - loss: 0.5466 - accuracy: 0.7320
Epoch 19/100
804/804 [==============================] - 1s 930us/step - loss: 0.5466 - accuracy: 0.7332
Epoch 20/100
804/804 [==============================] - 1s 924us/step - loss: 0.5463 - accuracy: 0.7335
Epoch 21/100
804/804 [==============================] - 1s 978us/step - loss: 0.5459 - accuracy: 0.7332
Epoch 22/100
804/804 [==============================] - 1s 961us/step - loss: 0.5458 - accuracy: 0.7337
Epoch 23/100
804/804 [==============================] - 1s 946us/step - loss: 0.5459 - accuracy: 0.7338
Epoch 24/100
804/804 [==============================] - 1s 958us/step - loss: 0.5457 - accuracy: 0.7346
Epoch 25/100
804/804 [==============================] - 1s 940us/step - loss: 0.5455 - accuracy: 0.7345
Epoch 26/100
804/804 [==============================] - 1s 977us/step - loss: 0.5453 - accuracy: 0.7352
Epoch 27/100
804/804 [==============================] - 1s 980us/step - loss: 0.5451 - accuracy: 0.7348
Epoch 28/100
804/804 [==============================] - 1s 960us/step - loss: 0.5450 - accuracy: 0.7358
Epoch 29/100
804/804 [==============================] - 1s 976us/step - loss: 0.5451 - accuracy: 0.7352
Epoch 30/100
804/804 [==============================] - 1s 941us/step - loss: 0.5448 - accuracy: 0.7355
Epoch 31/100
804/804 [==============================] - 1s 942us/step - loss: 0.5449 - accuracy: 0.7358
Epoch 32/100
804/804 [==============================] - 1s 983us/step - loss: 0.5447 - accuracy: 0.7360
Epoch 33/100
804/804 [==============================] - 1s 924us/step - loss: 0.5449 - accuracy: 0.7358
Epoch 34/100
804/804 [==============================] - 1s 965us/step - loss: 0.5447 - accuracy: 0.7358
Epoch 35/100
804/804 [==============================] - 1s 966us/step - loss: 0.5446 - accuracy: 0.7358
Epoch 36/100
804/804 [==============================] - 1s 936us/step - loss: 0.5444 - accuracy: 0.7352
Epoch 37/100
804/804 [==============================] - 1s 986us/step - loss: 0.5444 - accuracy: 0.7355
Epoch 38/100
804/804 [==============================] - 1s 968us/step - loss: 0.5441 - accuracy: 0.7358
Epoch 39/100
804/804 [==============================] - 1s 992us/step - loss: 0.5441 - accuracy: 0.7358
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7355
Epoch 41/100
804/804 [==============================] - 1s 980us/step - loss: 0.5442 - accuracy: 0.7348
Epoch 42/100
804/804 [==============================] - 1s 962us/step - loss: 0.5441 - accuracy: 0.7360
Epoch 43/100
804/804 [==============================] - 1s 963us/step - loss: 0.5437 - accuracy: 0.7360
Epoch 44/100
804/804 [==============================] - 1s 983us/step - loss: 0.5439 - accuracy: 0.7355
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7349
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7360
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7359
Epoch 48/100
804/804 [==============================] - 1s 964us/step - loss: 0.5437 - accuracy: 0.7359
Epoch 49/100
804/804 [==============================] - 1s 972us/step - loss: 0.5435 - accuracy: 0.7362
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7360
Epoch 51/100
804/804 [==============================] - 1s 1000us/step - loss: 0.5433 - accuracy: 0.7359
Epoch 52/100
804/804 [==============================] - 1s 996us/step - loss: 0.5434 - accuracy: 0.7353
Epoch 53/100
804/804 [==============================] - 1s 987us/step - loss: 0.5437 - accuracy: 0.7360
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5433 - accuracy: 0.7356
Epoch 55/100
804/804 [==============================] - 1s 971us/step - loss: 0.5431 - accuracy: 0.7362
Epoch 56/100
804/804 [==============================] - 1s 988us/step - loss: 0.5429 - accuracy: 0.7369
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7363
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7361
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5431 - accuracy: 0.7357
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7369
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5429 - accuracy: 0.7367
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7364
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7363
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7363
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7360
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7363
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7371
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7363
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7356
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7366
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7364
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7360
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5425 - accuracy: 0.7376
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7376
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7359
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7360
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7372
Epoch 80/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7372
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7373
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7367
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7369
Epoch 84/100
804/804 [==============================] - 1s 999us/step - loss: 0.5417 - accuracy: 0.7372
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7365
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7367
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7370
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7363
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7362
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7371
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7370
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7367
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5415 - accuracy: 0.7369
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7359
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7367
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7363
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5416 - accuracy: 0.7367
Epoch 98/100
804/804 [==============================] - 1s 949us/step - loss: 0.5414 - accuracy: 0.7376
Epoch 99/100
804/804 [==============================] - 1s 964us/step - loss: 0.5415 - accuracy: 0.7367
Epoch 100/100
804/804 [==============================] - 1s 983us/step - loss: 0.5415 - accuracy: 0.7365

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5556 - accuracy: 0.7259 - 264ms/epoch - 986us/step
Loss: 0.5555930733680725, Accuracy: 0.7259474992752075

In [19]:
# Tuning Model
# creating function that creates a new Swquential with Hyperparameter options

def create_nn_model(hp):
    nn_model = tf.keras.models.Sequential()
    
    # allowing tuner to decide which activation to use in the first layer
    activation = hp.Choice("activation",["relu", "tanh"])
    
    # allow tuner to decide number of neurons
    nn_model.add(tf.keras.layers.Dense(units=hp.Int("first_units",
                                                   min_value = 1,
                                                   max_value = 30,
                                                   step=5), activation=activation, input_dim=43))
    
    # allow tuner to decide number of hidden layers and number of neurons in the hidden layer
    # for loop
    for i in range(hp.Int("num_layers", 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int("units_" + str(i),
                                                       min_value=1,
                                                       max_value=30,
                                                       step=5), activation=activation))
        
    # output layer
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
    
    # compile
    nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
    
    # return model
    return nn_model

In [20]:
# tuner
tuner = kt.Hyperband(create_nn_model,
                    objective="val_accuracy",
                    max_epochs=100,
                    hyperband_iterations=2)

In [22]:
# tuner search
tuner.search(X_train_scaled, y_train, epochs=20, validation_data=(X_test_scaled, y_test))

Trial 508 Complete [00h 01m 53s]
val_accuracy: 0.7279300093650818

Best val_accuracy So Far: 0.7287463545799255
Total elapsed time: 01h 52m 51s
INFO:tensorflow:Oracle triggered exit

In [23]:
top_model = tuner.get_best_models(1)

In [26]:
# Export model to HDF5 file
nn.save("my_model.h5")